body {
    margin: 10px;
    background-color: #ffffff;
    font-family: sans-serif;
}

path {
    fill: none;
    stroke: #000000;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.pick-flow rect {
    fill: none;
    stroke: #000000;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.pick-flow line {
    display: none;
    fill: none;
    stroke: #000000;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
